---
import Articles from "./divulgation/Articles.astro";
import Events from "./divulgation/Events.astro";
import Resources from "./divulgation/Resources.astro";
import Videos from "./divulgation/Videos.astro";

---

<h2 class="text-accent font-bold text-4xl">Material de Divulgación</h2>

<Videos />
<Articles />
<Resources />
<Events />
