---
import Articles from "./divulgation/Articles.astro";
import Events from "./divulgation/Events.astro";
import Resources from "./divulgation/Resources.astro";
import Videos from "./divulgation/Videos.astro";

---

<section class="flex flex-col gap-6 max-w-full">
  <h2 class="text-accent font-bold text-3xl xs:text-4xl">Material de Divulgación</h2>

  <Videos />
  <Articles />
  <Resources />
  <Events />
</section>