<section class="flex flex-col gap-3">
  <h1 class="text-accent font-bold text-5xl text-center">Divulgación y Publicaciones</h1>
  <p class="text-2xl text-center">
    Compartiendo conocimiento y avances en sistemas termodinámicos <br/> para la comunidad científica y el público general
  </p>
</section>