/* Fonts */
/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --primary-color: #2E3192;
    --accent-color: #F6C308;
    --gray0: #161A25;
    --gray1: #272D39;
    --gray2: #444B53;
    --gray3: #7B848D;
}

body {
    background-color: black;
    color: white;
    margin: 0px;
    max-width: 100%;
    overflow: auto;
    font-family: 'Lato';
}

main {
    min-height: calc(100vh - 134px);
    height: fit-content;
    margin: 134px auto 0 auto;
    max-width: 90%;
    display: flex;
    align-items: center;
}

.anchor-hover {
    text-decoration: none;
    color: white;
    transition: color .2s ease-in-out;
    overflow: hidden;
}

.anchor-hover::after {
    content: '';
    display: block;
    background-color: var(--accent-color);
    height: 2px;
    width: 80%;
    margin-left: -200%;
    transition: margin-left .2s ease-in-out;
}

.anchor-hover:hover::after {
    margin-left: 10%;
}

.anchor-hover:hover {
    color: var(--accent-color);
}

@keyframes show {
    0% { opacity: 0;}
    100% { opacity: 1;}
}