/* Fonts */
/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --accent-color: #F6C308;
}

body {
    background-color: black;
    color: white;
    margin: 0px;
}

header {
    height: 134px;
    border: 1px solid black;
    display: flex;
    padding-left: min(5%, 62px);
    padding-right: min(5%, 62px);
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom, rgb(22 26 37), rgb(0 0 0 / 0));
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: min(80%, 700px);
    width: 60%;
    font-family: 'Lato';
    font-weight: 500;
    font-size: 1.2rem;
}

#navbar a {
    text-decoration: none;
    color: white;
    transition: color .2s ease-in-out;
    overflow: hidden;
}

#navbar a::after {
    content: '';
    display: block;
    background-color: var(--accent-color);
    height: 2px;
    width: 100%;
    margin-left: -100%;
    transition: margin-left .2s ease-in-out;
}

#navbar a:hover::after {
    margin-left: 0%;
}

#navbar a:hover {
    color: var(--accent-color);
}

#menu-button {
    color: white;
    background-color: black;
    border: 2px solid white;
    width: 45px;
    height: 40px;
    border-radius: 5px;
    transition: color .2s ease-in-out, background-color .2s ease-in-out;
}

#menu-button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

@media only screen and (min-width: 900px) {
    #navbar {
        display: flex !important;
    }

    #burger-menu {
        display: none !important;
    }
}

@media only screen and (max-width: 900px) {
    #navbar {
        display: none !important;
    }

    #burger-menu {
        display: block !important;
    }
}