<section class="flex flex-col items-center text-center">
  <h1 class="text-4xl xs:text-6xl font-bold text-accent">
    Panel de Publicaciones y Divulgación
  </h1>
  <p class="max-w-2xl">
    Aquí puedes administrar las publicaciones, artículos, videos, recursos educativos y eventos relacionados con la divulgación científica del laboratorio.
  </p>
</section>