@import "tailwindcss";

@theme {
  --color-background: #010101;
  --color-text: #ffffff;
  --color-primary: #2e3192;
  --color-accent: #f6c308;
  --color-gray0: #161a25;
  --color-gray1: #272d39;
  --color-gray2: #444b53;
  --color-gray3: #7b848d;
  --color-danger: #dc3545;
  --color-success: #28a745;
  --color-info: #17a2b8;

  --font-sans: lato, sans-serif;
  --font-serif: montserrat, serif;

  --breakpoint-xs: 425px;
}

.bgImage {
  @apply -z-50 brightness-30 absolute top-0 w-full;
  -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 90%,
      rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 90%,
      rgba(0, 0, 0, 0) 100%
  );
}

.contact-icon {
  @apply transition-all duration-300 ease-in-out;
}

.contact-section:hover > .contact-icon {
  @apply !fill-accent;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}