@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

/* Light Mode */
:root {
  --color-background: #eeeded;
  --color-text: #3f3f3f;
  --color-primary: #2e3192;
  --color-accent: #f6c308;
  --color-gray0: #f5f5f5;
  --color-gray1: #e0e0e0;
  --color-gray2: #c2c2c2;
  --color-gray3: #7e7e7e;
  --color-danger: #dc3545;
  --color-success: #28a745;
  --color-info: #17a2b8;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #010101;
    --color-text: #ffffff;
    --color-primary: #2e3192;
    --color-accent: #f6c308;
    --color-gray0: #161a25;
    --color-gray1: #272d39;
    --color-gray2: #444b53;
    --color-gray3: #7b848d;
    --color-danger: #dc3545;
    --color-success: #28a745;
    --color-info: #17a2b8;
  }
}

@theme {
  --color-background: var(--color-background);
  --color-text: var(--color-text);
  --color-primary: var(--color-primary);
  --color-accent: var(--color-accent);
  --color-gray0: var(--color-gray0);
  --color-gray1: var(--color-gray1);
  --color-gray2: var(--color-gray2);
  --color-gray3: var(--color-gray3);
  --color-danger: var(--color-danger);
  --color-success: var(--color-success);
  --color-info: var(--color-info);

  --font-sans: lato, sans-serif;
  --font-serif: montserrat, serif;

  --breakpoint-xs: 425px;
}

* {
  @apply transition-all duration-300 ease-in-out;
}

.bgImage {
  @apply -z-50 brightness-30 absolute top-0 w-full;
  -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 90%,
      rgba(0, 0, 0, 0) 100%
  );
  mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 90%,
      rgba(0, 0, 0, 0) 100%
  );
}

.contact-icon {
  @apply transition-all duration-300 ease-in-out;
}

.contact-section:hover > .contact-icon {
  @apply !fill-accent;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.input-field,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:focus-visible,
input:-webkit-autofill:active {
  @apply bg-gray1 text-text p-2.5 px-4 w-full rounded-lg text-xl active:outline-accent focus:outline-accent focus-visible:outline-accent focus-visible:border-accent;
  transition: all 5000s ease-in-out 0s;
}

select.input-field {
  border-right: 13px solid transparent
}

.submit-button {
  @apply text-black bg-accent w-full py-3 text-2xl font-bold rounded-full hover:saturate-50 hover:cursor-pointer disabled:opacity-20 disabled:pointer-events-none;
}

.text-ellipsis-multiline {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}