@import "tailwindcss";

@theme {
  --color-background: #010101;
  --color-text: #ffffff;
  --color-primary: #2e3192;
  --color-accent: #f6c308;
  --color-gray0: #161a25;
  --color-gray1: #272d39;
  --color-gray2: #444b53;
  --color-gray3: #7b848d;

  --font-sans: lato, sans-serif;
  --font-serif: montserrat, serif;
}

* {
  @apply text-text duration-300 ease-in-out;
}