<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Laboratorio de Sistemas Termodinamicos</title>

    </head>
    <body >
        
        <div>
            <img src="">
            <Publicaciones>Inicio Publicaciones Divulgaciones Nosotros Contacto</h4>
        </div>
    </body>
</html>

<style>
    body{
        background-color: black;
     }
     body::after{
    content: '';
    position: fixed;
    top: 50px;
    right: -20px ;
    width: 1220px;
    height: 1153px;
    background-size: contain;
    background-repeat: no-repeat;
     }

     .font-primary{
        color: #E4E4E4;

     }
        
</style>