---
  import Carousel from "@src/components/common/Carousel.astro";
  import { db } from "@db/connection";
  import { desc } from "drizzle-orm";

  const response = await fetch(`${Astro.url.origin}/api/gallery`);
  if (!response.ok) {
    throw new Error("Failed to fetch images");
  }

  const { images } = await response.json()

  if (!Array.isArray(images)) {
    throw new Error("Invalid response format");
  }

  const imagesUrl = images.map((image) => `${Astro.url.origin}/${image.path}`);
---

{(images.length > 0) && (
  <section class="flex flex-col justify-center items-center gap-3 w-full max-w-7xl">
    <h2 class="text-accent text-4xl xs:text-6xl italic font-sans text-center">Galería</h2>

    <Carousel images={imagesUrl} />
  </section>
)}