<!-- Hero -->
<section class="flex flex-col justify-center gap-3 bg-gray0/50 border border-gray1 p-8 rounded-xl backdrop-blur-md max-w-7xl">
  <h1 class="text-accent italic text-4xl xs:text-5xl font-sans text-center">
    ¡Bienvenidos a Labinst! 
  </h1>
  <p class="italic text-md xs:text-xl">
    Somos el Laboratorio de Investigación en Sistemas Termodinámicos de la <strong>Universidad de Guanajuato</strong>, fundado por los doctores <strong>Sergio Cano Andrade</strong> y <strong>César Eduardo Damián Ascencio</strong>. Nos especializamos en el análisis avanzado de sistemas termodinámicos, aplicando la innovadora teoría de la "Steepest-Entropy-Ascent Quantum Thermodynamics" y la optimización de ciclos de potencia.
    <br><br>
    En Labinst valoramos la colaboración interdisciplinaria, por lo que estamos abiertos a trabajar en diversas áreas del conocimiento. Creemos en la ciencia como un esfuerzo colectivo y siempre buscamos un enfoque integral en nuestras investigaciones. ¡Te invitamos a ser parte de este emocionante viaje científico!
  </p>
</section>

<style>
  @reference "../../../styles/global.css";

  strong {
    @apply text-accent;
  }
</style>