---
  import Member from "@components/pages/us/Member.astro"
  import type { MemberSelect } from "@src/repositories/MemberRepository"

  // Get members by type
  const response = await fetch(`${Astro.url.origin}/api/members`)
  const data = await response.json()

  if (!data.members) {
    throw new Error("No members found")
  }

  const members = data.members
---

<section class="flex flex-col justify-center gap-3">
  {Object.keys(members).length == 0 && (
    <p class="text-center font-bold text-xl text-gray2">No hay miembros en el equipo 😔</p>
  )}
  {Object.keys(members).map(type => (
    <article>
      <h3 class="text-accent text-3xl xs:text-5xl italic font-sans text-center">
        {type}
      </h3>
      <div>
        {members[type].map((member: MemberSelect) => (
          <Member class="mx-auto" name={member.fullName} position={member.position} image={member.photo || "default"} />
        ))}
      </div>
    </article>
  ))}
</section>

<style>
  @reference "../../../styles/global.css";

  article {
    @apply w-full max-w-[1755px];
  }

  article > div {
    @apply flex flex-wrap justify-between gap-10;
  }
</style>