---
  import Member from "@components/pages/us/Member.astro"
  import { db, eq, Member as MemberDB, MemberType } from "astro:db"

  // Get members
  const members: Record<string, Array<typeof allMembers[number]>> = {}

  const allMembers = 
    await db
    .select()
    .from(MemberDB)
    .orderBy(MemberDB.fullName)

  for (const member of allMembers) {
    if (members[member.typeOfMember] === undefined) {
      members[member.typeOfMember] = []
    }
    members[member.typeOfMember].push(member)
  }

  const memberTypes = await db
    .selectDistinct({ name: MemberType.name, plural_name: MemberType.plural_name, order: MemberType.order })
    .from(MemberType)
    .innerJoin(MemberDB, eq(MemberType.name, MemberDB.typeOfMember))
    .orderBy(MemberType.order);
---

<section class="flex flex-col justify-center gap-3">
  {Array.from(memberTypes).length == 0 && (
    <p class="text-center font-bold text-xl text-gray2">No hay miembros en el equipo 😔</p>
  )}
  {memberTypes.map(type => (
    <article>
      <h3 class="text-accent text-3xl xs:text-5xl italic font-sans text-center">
        {type.plural_name}
      </h3>
      <div>
        {members[type.name].map(member => (
          <Member class="mx-auto" name={member.fullName} position={member.position} image={member.photo || "default"} />
        ))}
      </div>
    </article>
  ))}
</section>

<style>
  @reference "../../../styles/global.css";

  article {
    @apply w-full max-w-[1755px];
  }

  article > div {
    @apply flex flex-wrap justify-between gap-10;
  }
</style>