---
  import Layout from '@layouts/Layout.astro';

  import { Image } from 'astro:assets';

  import bgImage from "@assets/images/bg/contact.webp"
  import ContactSection from '@components/ContactSection.astro';
  import SocialMediaIcons from '@components/common/SocialMediaIcons.astro';
---

<Layout class="min-h-[700px]" title="Contacto | Labinst">
  <!-- Bg Image -->
  <Image class="bgImage" src={bgImage} alt="bg" />

  <section class="flex flex-col justify-start gap-5 px-10 xs:px-14 py-7 bg-gray0/50 border border-gray1 rounded-xl backdrop-blur-sm m-auto">
    <h1 class="text-accent font-semibold text-6xl">Contacto</h1>
    <p class="text-2xl text-balance">
      ¿Tienes alguna pregunta o necesitas ayuda?
      <br>
      <strong>¡Estamos aquí para ti!</strong>
    </p>
    <ContactSection class="contact-card !m-0 !my-0 !gap-5" />
    <p class="text-xl">
      Síguenos en nuestras redes sociales
    </p>
    <SocialMediaIcons class="flex gap-5 justify-start items-center *:!h-8" />
  </section>
</Layout>

<style is:global>
  @reference "../styles/global.css";

  .contact-card .contact-icon {
    @apply !min-w-10 !w-10 h-9;
  }

  .contact-card .contact-section {
    @apply !items-center !gap-6;
  }

  .contact-card .contact-section > p {
    @apply !text-xl;
  }

</style>