---
  import Empty from "@layouts/Empty.astro"
  import CustomAlert from "@src/components/common/CustomAlert.astro"
  import { Image } from 'astro:assets'

  import bg from "@assets/images/bg/login.png"
  import logo from "@assets/images/logo/logo_full.webp"
  import InputPassword from "@src/components/common/InputPassword.astro"

  if (Astro.locals.user) {
    return Astro.redirect('/admin')
  }
---

<Empty class="min-h-[700px]" title="Iniciar Sesión">
  <!-- BG -->
  <Image src={bg} alt="bg" class="fixed top-1/2 -translate-y-1/2 left-0 right-0 w-full min-h-[500px] -z-10 object-cover bg-blend-screen opacity-50 blur-xs" />

  <!-- Wrapper -->
  <section class="bg-gray0/80 border-2 border-gray1 backdrop-blur-2xl m-auto py-7 p-10 rounded-3xl max-w-[90%]">
    <!-- Img -->
    <a class="p-8" aria-label="Volver al inicio" href="/">
      <Image transition:name="logo" class="w-80 max-w-full" src={logo} alt="logo" />
    </a>
    <form class="flex flex-col justify-center items-center gap-5" action="/api/login" method="post">
      <!-- User -->
      <input type="text" class="input-field" name="username" placeholder="Usuario">

      <!-- Password -->
      <InputPassword name="password" placeholder="Contraseña" />

      <!-- Submit -->
      <button disabled type="submit" class="submit-button">
        Iniciar Sesión
      </button>
    </form>
  </section>
</Empty>

<CustomAlert />


<script>
  import { navigate } from "astro:transitions/client";

  document.addEventListener('astro:page-load', () => {
    // Form Validation
    const user = document.querySelector('input[name="username"]') as HTMLInputElement;
    const password = document.querySelector('input[name="password"]') as HTMLInputElement;
    const button = document.querySelector('button[type="submit"]') as HTMLButtonElement;

    if (!user || !password || !button) {
      return
    }

    const validateFrom = () => {
      if (user.value !== '' && password.value !== '') {
        button.removeAttribute('disabled');
      } else {
        button.setAttribute('disabled', '');
      }
    }

    user.addEventListener('input', validateFrom);
    password.addEventListener('input', validateFrom);

    // Login send data
    const form = document.querySelector('form') as HTMLFormElement;
    const submit = document.querySelector('button[type="submit"]') as HTMLButtonElement;

    form.addEventListener('submit', (e) => {
      e.preventDefault();
      submit.disabled = true;
      const formData = new FormData(form);
      fetch('/api/login', {
        method: 'POST',
        body: formData
      }).then(res => res.json()).then(data => {
        submit.disabled = false;
        if (data.error) {
          window.customAlert.error.show('Error', data.error);
        } else {
          navigate('/admin')
        }
      })
    })
  })
</script>