
<footer>
    <div class="footer-column footer-logo">
        <img src="public/images/logo/logo_full.webp" style="width: 8rem; height: 3rem;">
        <p style="font-family: playfair;">"Que la imaginación sea tu único límite."</p>
    </div>
    
    <div class="footer-column">
        <h5>¿Quiénes somos?</h5>
        <p>Somos una unidad de investigación de la Universidad de Guanajuato. Enfocada principalmente en el análisis avanzado de sistemas termodinámicos.</p>
    </div>

    <div class="footer-column">
        <h5>Links</h5>
        <a href="#">Inicio</a><br>
        <a href="#">Publicaciones</a><br>
        <a href="#">Nosotros</a><br>
        <a href="#">Contacto</a>
    </div>

    <div class="footer-column">
        <h5>Contacto</h5>
        <p>example@gmail.com</p>
        <p>+52 123 456 7890</p>
        <p>Carretera Salamanca, Salamanca, Gto, México</p>
    </div>

    <div class="footer-column">
        <h5>Newsletter</h5>
        <p>Suscríbete a nuestro Newsletter</p>
        <form>
            <input type="email" placeholder="example@gmail.com">
            <button type="submit">></button>
        </form>
    </div>

    <div class="footer-bottom">
        <p style="color: #7B848D;">© 2024 Copyright Todos los derechos reservados | Página web creada por Hadassah García, Aranza Miravalles y Jorge Mora</p>
        <div class="footer-social-icons">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-tiktok"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</footer>



