<header>
    <img src="public/images/logo/logo_full.webp" style="width: 18rem; min-width: 5rem;">
    <nav id="navbar">
        <a href="">Inicio</a>
        <a href="">Publicaciones</a>
        <a href="">Divulgación</a>
        <a href="">Nosotros</a>
        <a href="">Contacto</a>
    </nav>
    <div id="burger-menu"">
        <button id="menu-button">
            <i class="fa-solid fa-bars"></i>
        </button>
    </div>
</header>