---
  const { class: className, ...rest } = Astro.props;
  import Icon from "./common/Icon.astro";
---

<section class:list={[
  "flex flex-col gap-y-2 w-fit mx-auto text-start",
  className,
  ]}>
  <!-- Email -->
  <a class="contact-section" target="_blank" href="mailto:test@gmail.com">
    <Icon name="email" class="contact-icon min-w-7 w-7 h-6 object-contain fill-gray2"/>
    <p>example@gmail.com</p>
  </a>
  <!-- Phone -->
  <a class="contact-section" target="_blank" href="tel:052-123-456-7890">
    <Icon name="phone" class="contact-icon min-w-7 w-7 h-6 object-contain fill-gray2"/>
    <p>+52 123 456 7890</p>
  </a>
  <!-- Location -->
  <a class="contact-section" target="_blank" href="https://maps.app.goo.gl/H2XMtkisHDdv7ED69">
    <Icon name="landmark" class="contact-icon min-w-7 w-7 h-6 object-contain fill-gray2"/>
    <p>DICIS, Salamanca, Gto, México</p>
  </a>
</section>

<style>
  @reference "../styles/global.css";

  p {
    @apply !text-lg;
  }

  .contact-section { 
    @apply flex justify-start items-start gap-x-3;
  }
</style>