---
  import { db } from "@db/connection"
  import { EducationalMaterial } from "@db/tables";
  import ResourceCard from "@components/pages/publications_divulgation/divulgation/ResourceCard.astro"
  import ComponentCarrousel from "@src/components/common/ComponentCarrousel.astro";

  const resources = await db
    .select()
    .from(EducationalMaterial)
    .orderBy(EducationalMaterial.uploadedAt)
---

<section class="flex flex-col gap-2 max-w-full">
  <h3 class="text-xl xs:text-2xl font-bold text-text">Recursos Educativos</h3>

  {resources.length > 0 ? (
    <ComponentCarrousel>
      {resources.map(resource => (
        <ResourceCard
          title={resource.title}
          description={resource.description}
          filePath={resource.filePath}
        />
      ))}
    </ComponentCarrousel>
  ) : (
    <div class="text-text/50 text-center">
      No hay recursos educativos disponibles.
    </div>
  )}
</section>