---
  import { db } from "@db/connection"
  import { Video } from "@db/tables";
  import VideoCard from "./VideoCard.astro";
  import ComponentCarrousel from "@src/components/common/ComponentCarrousel.astro";
  import VideoViewer from "@src/components/common/VideoViewer.astro";

  const videos = await db
    .select()
    .from(Video)
    .orderBy(Video.uploadedAt)
---

<section class="flex flex-col gap-2 max-w-full">
  <h3 class="text-xl xs:text-2xl font-bold text-text">Videos Explicativos</h3>

  {videos.length > 0 ? (
    <ComponentCarrousel>
      {videos.map(video => (
        <VideoCard
          title={video.title}
          description={video.description}
          thumbnailPath={video.thumbnailPath}
          filePath={video.videoPath}
        />
      ))}
    </ComponentCarrousel>
  ) : (
    <div class="text-text/50 text-center">
      No hay videos explicativos disponibles.
    </div>
  )}

  <VideoViewer />
</section>