---
import Icon from "@components/common/Icon.astro";

import { Image } from "astro:assets";

import logo from "@assets/images/logo/logo_med.webp";
import ContactSection from "@components/ContactSection.astro";
import SocialMediaIcons from "./SocialMediaIcons.astro";
---

<footer
  transition:persist=""
  class="flex flex-col justify-center items-center pb-5 px-4 xs:px-14 bg-gradient-to-t from-gray0 to-transparent mt-auto"
>
  <div
    class="flex flex-wrap justify-between items-start p-0 xs:p-6 w-full max-w-[80%] mx-auto gap-x-12 gap-y-8"
  >
    <!-- Logo & legend -->
    <article class="!gap-y-0">
      <Image class="h-32 object-contain w-full" src={logo} alt="logo" />
      <i>¡Que la imaginación sea tu único limite!</i>
    </article>

    <!-- Who we are -->
    <article>
      <h3>¿Quién somos?</h3>
      <p class="text-justify">
        Somos una unidad de investigación de la <strong>Universidad de Guanajuato</strong>. Enfocada principalmente en el análisis avanzado de <strong>sistemas termodinámicos</strong>.
      </p>
    </article>

    <!-- Contact -->
    <article>
      <h3>Contáctanos</h3>
      <ContactSection />
    </article>
  </div>
  <!-- Separation Line -->
  <span class="w-full h-1 bg-gray1 my-4 max-w-[80%] rounded-full"></span>
  <!-- CopyRight & Social Media Links -->
  <section
    class="flex flex-wrap justify-between items-center gap-x-7 max-w-[80%] w-full"
  >
    <p id="footer-legend" class="text-center text-gray3 m-auto"></p>
    <SocialMediaIcons class="flex gap-3 justify-center items-end m-auto" />
  </section>
</footer>

<style>
  @reference "../../styles/global.css";

  h3 {
    @apply text-accent text-3xl font-bold font-serif;
  }

  p {
    @apply text-lg;
  }

  article {
    @apply flex flex-col justify-center gap-y-5 flex-1 text-center min-w-[200px] xs:min-w-[250px] max-w-[300px] mx-auto;
  }

  strong {
    @apply text-accent;
  }
</style>

<script>
  const updateFooter = () => {
    const footer = `© ${new Date().getFullYear()} Copyright Todos los derechos reservados | Página web creada por Hadassah García y Jorge Mora`;
    (document.getElementById("footer-legend") as HTMLParagraphElement).innerHTML = footer
  };

  document.addEventListener("astro:page-load", updateFooter);
</script>
