<section class="bg-gradient-to-r from-gray0 to-gray1 flex flex-col gap-3 py-24 text-center w-screen p-5">
  <h4 class="text-5xl font-bold">
    ¿Interesado en colaborar?
  </h4>
  <p class="text-xl text-pretty">
    Estamos abiertos a colaboraciones interdisciplinarias. Si estás interesado en nuestras <br/> investigaciones o quieres contribuir, contáctanos.
  </p>
  <a class="text-lg bg-accent outline-2 outline-gray0 w-fit mx-auto text-black py-3 px-5 rounded-md font-bold hover:brightness-90 transition-all ease-in-out duration-200" href="/contact">
    Contactar al laboratorio
  </a>
</section>