---
  import Icon from "./Icon.astro";
  const { ...rest } = Astro.props;
---

<input-password class="w-full relative">
  <input class="input-field !pe-12" type="password" {...rest}>
  <button type="button" class="absolute right-0 top-1/2 -translate-y-1/2 me-3 hover:cursor-pointer hover:brightness-75 transition-all aspect-square">
    <span>
      <Icon name="eye" class="stroke-text w-6 h-auto" />
    </span>
    <span hidden>
      <Icon name="eyeOff" class="stroke-text w-6 h-auto" />
    </span>
  </button>
</input-password>

<script>
  class InputPassword extends HTMLElement {
    constructor() {
      super();

      const passwordToggleBtn = this.querySelector('button') as HTMLButtonElement;
      const passwordInput = this.querySelector('input[type="password"]') as HTMLInputElement;
      const passwordEye = this.querySelectorAll('span')[0] as HTMLSpanElement;
      const passwordEyeOff = this.querySelectorAll('span')[1] as HTMLSpanElement;

      passwordToggleBtn.addEventListener('click', () => {
        if (passwordInput.type === 'password') {
          passwordInput.type = 'text';
          passwordEye.hidden = true;
          passwordEyeOff.hidden = false;
        } else {
          passwordInput.type = 'password';
          passwordEye.hidden = false; 
          passwordEyeOff.hidden = true;
        }
      })
    }   
  }

  customElements.define('input-password', InputPassword);
</script>