---
  import Icon from "@components/common/Icon.astro"
---

<nav class="flex gap-3 justify-center items-end m-auto">
  <Icon class="hover:brightness-75 hover:scale-105 hover:cursor-pointer h-6" name="facebook" />
  <Icon class="hover:brightness-75 hover:scale-105 hover:cursor-pointer h-5" name="instagram" />
  <Icon class="hover:brightness-75 hover:scale-105 hover:cursor-pointer h-5" name="tiktok" />
  <Icon class="hover:brightness-75 hover:scale-105 hover:cursor-pointer h-5" name="youtube" />
</nav>