---
  import Icon from "./Icon.astro";
---

<button id="theme-toggle" class="hover:cursor-pointer hover:scale-110">
  <span class="sun-icon hidden">
    <Icon name="sun" class="h-7 stroke-text hover:stroke-accent" />
  </span>
  <span class="moon-icon">
    <Icon name="moon" class="h-7 stroke-text hover:stroke-accent" />
  </span>
</button>

<script>
  const handleThemeToggleBehaviour = () => {
    const currentTheme = localStorage.getItem("theme");
    const button = document.getElementById("theme-toggle");
    const moonIcon = button?.querySelector('.moon-icon') as HTMLElement;
    const sunIcon = button?.querySelector('.sun-icon') as HTMLElement;

    if (!button || !moonIcon || !sunIcon) return;

    if (currentTheme === "dark") {
      moonIcon.style.display = "none";
      sunIcon.style.display = "block";
    } else {
      moonIcon.style.display = "block";
      sunIcon.style.display = "none";
    }

    const handleThemeToggle = () => {
      const root = document.documentElement;
      const currentTheme = localStorage.getItem("theme");

      if (currentTheme === "dark") {
        root.classList.remove("dark");
        localStorage.setItem("theme", "light");
        moonIcon.style.display = "block";
        sunIcon.style.display = "none";
      } else {
        root.classList.add("dark");
        localStorage.setItem("theme", "dark");
        moonIcon.style.display = "none";
        sunIcon.style.display = "block";
      }
    };

    button?.addEventListener('click', handleThemeToggle);
  }

  document.addEventListener('astro:page-load', handleThemeToggleBehaviour);
</script>