<header class="from-gray0 to-40% to-transparent bg-gradient-to-b flex justify-between items-center gap-24 p-7 px-10">
  <a href="/">
    <img class="w-72 min-w-52" src="/images/logo/logo_full.webp" alt="logo">
  </a>

  <nav class="flex w-full max-w-[850px] justify-between gap-10 text-xl">
    <a href="/">Inicio</a>
    <a href="/publications">Publicaciones</a>
    <a href="/divulgation">Divulgación</a>
    <a href="/us">Nosotros</a>
    <a href="/contact">Contacto</a>
  </nav>

  <button class="hidden hover:bg-gray2 border-gray2 border-2 w-12 text-xl aspect-square rounded-md">
    ☰
  </button>
</header>

<script>
  const page = location.pathname;

  if (page === '/') {
    document.querySelector('a[href="/"]')?.classList.add('text-accent');
  } else if (page === '/publications') {
    document.querySelector('a[href="/publications"]')?.classList.add('text-accent');
  } else if (page === '/divulgation') {
    document.querySelector('a[href="/divulgation"]')?.classList.add('text-accent');
  } else if (page === '/us') {
    document.querySelector('a[href="/us"]')?.classList.add('text-accent');
  } else if (page === '/contact') {
    document.querySelector('a[href="/contact"]')?.classList.add('text-accent');
  }
</script>

<style>
  nav > a {
    @apply overflow-hidden
  }

  nav > a:hover {
    @apply text-accent;
  }
  
  nav > a::after {
    content: '';
    @apply bg-accent block relative w-full h-0.5 right-[100%] transition-all duration-200 ease-in-out;
  }

  nav > a:hover::after {
    @apply right-0;
  }

  @media (max-width: 980px) {
    header {
      @apply fixed left-0 right-0 bottom-0 top-0 bg-gray0 flex flex-col gap-12 items-center justify-start;
    }

    nav {
      @apply flex-col w-fit gap-12 items-center;
    }
    
    nav > a {
      @apply w-fit text-3xl;
    }

    button {
      @apply block;
    }
  }
</style>