---
  import TopBarTemplate from "@components/common/TopBarTemplate.astro";
---

<TopBarTemplate>
  <a href="/">Inicio</a>
  <a href="/publications">Publicaciones</a>
  <a href="/divulgation">Divulgación</a>
  <a href="/us">Nosotros</a>
  <a href="/contact">Contacto</a>
  <a href="/login">Admin Panel</a>
</TopBarTemplate>