---
	const { title, class: className, ...rest } = Astro.props;

	import Empty from "@layouts/Empty.astro"
---

<Empty title={title}>
	<main class:list={[
		"flex flex-col justify-center items-center gap-10 m-3 sm:m-10",
		className
		]}>
		<slot />
	</main>
</Empty>

