---
	const { title, class: className, ...rest } = Astro.props;

	import Empty from "@layouts/Empty.astro"
	import AdminTopBar from "@src/components/common/AdminTopBar.astro";
---

<Empty title={title}>
	<AdminTopBar />
	<main class:list={[
		"flex flex-col justify-start items-center gap-12 m-3 sm:m-10 h-full",
		className
		]}>
		<slot />
	</main>
</Empty>
