---
	const { title, class: className, ...rest } = Astro.props;
	import '../styles/global.css';
	import '../styles/fonts.css';

	import { ClientRouter } from 'astro:transitions';
---

<!doctype html>
<html class="" lang="es">
	<head>
		<script is:inline>
			(function () {
				const handleTheme = () => {
					const theme = localStorage.getItem("theme");
					const prefersDark = window.matchMedia("(prefers-color-scheme: dark)").matches;
					if (theme === "dark" || (!theme && prefersDark)) {
						document.documentElement.classList.add("dark");
					}
				}

				document.addEventListener("astro:after-swap", handleTheme)
				handleTheme();
			})();
		</script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="preload" as="font" crossorigin href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" />
		<title>{title}</title>
		<ClientRouter />
	</head>
	<body class="flex flex-col justify-between bg-background overflow-x-hidden">
    <slot />
	</body>
</html>

<style>
	@reference "../styles/global.css";

	* {
		color: white;
	}

	body {
		min-height: 100vh;
	}
</style>