---
	const { title, class: className, ...rest } = Astro.props;

	import BottomBar from "@components/common/BottomBar.astro"
	import TopBar from "@components/common/TopBar.astro"
	import Empty from "@layouts/Empty.astro"
---

<Empty title={title}>
	<TopBar />
	<main class:list={[
		"flex flex-col justify-center items-center gap-10 m-3 sm:m-10",
		className
		]}>
		<slot />
	</main>
	<BottomBar />
</Empty>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>