---
  import Icon from "@src/components/common/Icon.astro";
  import AdminPanel from "@src/layouts/AdminPanel.astro";

  if (!Astro.locals.user) {
    return Astro.redirect('/login')
  }
---

<AdminPanel title="Panel de Administrador">
  <section class="flex flex-col gap-3 justify-center items-center m-auto text-text">
    <Icon name="happyFace" class="fill-accent h-44 xs:h-64" />

    <h1 class="text-3xl xs:text-4xl text-center">
      Bienvenido al
      <br>
      <strong class="text-5xl xs:text-6xl text-accent">Admin Panel</strong>
    </h1>

    <p class="text-lg xs:text-xl text-center font-bold text-gray2">
      ¡Puedes configurar y modificar
      <br>
      el sitio web desde aquí!
    </p>
  </section>
</AdminPanel>